# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

# Database
DATABASE_NAME=stackoverflow_db
DATABASE_USER=stackoverflow_user
DATABASE_USER_PASSWORD=user_password
DATABASE_ROOT_PASSWORD=root_password
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_EXTERNAL_PORT=3307
MYSQL_DATABASE=stackoverflow_db
MYSQL_USER=stackoverflow_user
MYSQL_PASSWORD=user_password
MYSQL_ROOT_PASSWORD=root_password

# Backend
BACKEND_PORT=8000
